<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HotChocolatey.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <userSettings>
    <HotChocolatey.Properties.Settings>
      <setting name="UpdateRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExitToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>1280</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>720</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </HotChocolatey.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
