<?xml version="1.0" encoding="UTF-8"?>

<?define ProductVersion="!(bind.fileVersion.HotChocolatey.exe)" ?>
<?define ProductName="Hot Chocolatey" ?>
<?define ProductNameNoSpace="HotChocolatey" ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="$(var.ProductName) $(var.ProductVersion)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="Denxorz"
           UpgradeCode="04638a08-69e4-44bf-837b-856e7654a7d9">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." AllowSameVersionUpgrades="yes"/>
    <Media Id="1" Cabinet="Cab1.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Icon Id="icon.ico" SourceFile="Resources\Hot Chocolate-96.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="Resources\WixUIBannerBmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\WixUIDialogBmp.bmp" />

    <UI Id="UserInterface">
      <Property Id="WIXUI_INSTALLDIR" Value="TARGETDIR" />
      <Property Id="WixUI_Mode" Value="Custom" />

      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="9" Bold="yes" />
      <TextStyle Id="WixUI_Font_Title"  FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />

      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="EndDialog" Value="Return" Order="2"></Publish>
    </UI>
    <UIRef Id="WixUI_Common" />

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="{C70C295A-880F-4E1A-A08B-C93728CF6DE7}">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.ProductName)"
                  Description="$(var.ProductName)"
                  Target="[INSTALLFOLDER]\HotChocolatey.exe"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\$(var.ProductNameNoSpace)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="$(var.ProductNameNoSpace)" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)"/>
      </Directory>
    </Directory>
  </Fragment>
</Wix>